<div id="<%= dom_id address %>">
  <p>
    <strong>Street:</strong>
    <%= address.street %>
  </p>

  <p>
    <strong>Town:</strong>
    <%= address.town %>
  </p>

  <p>
    <strong>Zip code:</strong>
    <%= address.zip_code %>
  </p>

  <p>
    <strong>State:</strong>
    <%= address.state %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= address.country %>
  </p>

  <p>
    <strong>Person:</strong>
    <%= address.person_id %>
  </p>

</div>
